In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

1. 데이터값을 불러오고 데이터 값 안의 결측치를 isnull함수로 파악
- 데이터가 제대로 불러와졌는지를 확인해 보려면 train.head()를 실행시켜 보면 되는데, 위에서 불러온 train이라는 dataframe 중에서 앞의 5개의 열을 출력시킬 수 있다. 또한 정수 값을 parameter로 받아 그 만큼의 열을 보여준다.

In [ ]:
df_test = pd.read_csv("test.csv")
df_train = pd.read_csv("train.csv") 
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
df_test.head(50)

    PassengerId  Pclass  ...            Cabin Embarked
0           892       3  ...              NaN        Q
1           893       3  ...              NaN        S
2           894       2  ...              NaN        Q
3           895       3  ...              NaN        S
4           896       3  ...              NaN        S
5           897       3  ...              NaN        S
6           898       3  ...              NaN        Q
7           899       2  ...              NaN        S
8           900       3  ...              NaN        C
9           901       3  ...              NaN        S
10          902       3  ...              NaN        S
11          903       1  ...              NaN        S
12          904       1  ...              B45        S
13          905       2  ...              NaN        S
14          906       1  ...              E31        S
15          907       2  ...              NaN        C
16          908       2  ...              NaN        Q
17          909       3  ...              NaN        C
18          910       3  ...              NaN        S
19          911       3  ...              NaN        C
20          912       1  ...              NaN        C
21          913       3  ...              NaN        S
22          914       1  ...              NaN        S
23          915       1  ...              NaN        C
24          916       1  ...  B57 B59 B63 B66        C
25          917       3  ...              NaN        S
26          918       1  ...              B36        C
27          919       3  ...              NaN        C
28          920       1  ...              A21        S
29          921       3  ...              NaN        C
30          922       2  ...              NaN        S
31          923       2  ...              NaN        S
32          924       3  ...              NaN        S
33          925       3  ...              NaN        S
34          926       1  ...              C78        C
35          927       3  ...              NaN        C
36          928       3  ...              NaN        S
37          929       3  ...              NaN        S
38          930       3  ...              NaN        S
39          931       3  ...              NaN        S
40          932       3  ...              NaN        C
41          933       1  ...              D34        S
42          934       3  ...              NaN        S
43          935       2  ...              NaN        S
44          936       1  ...              D19        S
45          937       3  ...              NaN        S
46          938       1  ...               A9        C
47          939       3  ...              NaN        Q
48          940       1  ...              D15        C
49          941       3  ...              NaN        S

[50 rows x 11 columns]

![image.png]()

-Survivied는 생존 여부(0은 사망, 1은 생존; train 데이터에서만 제공)
-Pclass는 사회경제적 지위(1에 가까울 수록 높음)
-SipSp는 배우자나 형제 자매 명 수의 총 합
-Parch는 부모 자식 명 수의 총 합을 나타낸다.

In [ ]:
df_train.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.036847 -0.077221 -0.369226  ... -0.308247 -0.189119  0.096067
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

## Name 날리고, Cabin 0 or 1로 치환
-cabin은 객실을 의미하는데 객실의 여부가 생존 여부에 영향을 미친다고 판단

In [ ]:
df_train = df_train.drop("Name",axis=1)
df_test = df_test.drop("Name",axis=1)

In [ ]:
df_Cab_isnull1 = df_train["Cabin"].isnull()
df_Cab_isnull2 = df_test["Cabin"].isnull()

In [ ]:
for i in range(len(df_train["Cabin"])):
    if df_Cab_isnull1[i] == True:
        df_train["Cabin"][i] = 0
    else:
        df_train["Cabin"][i] = 1
        
for i in range(len(df_test["Cabin"])):
    if df_Cab_isnull2[i] == True:
        df_test["Cabin"][i] = 0
    else:
        df_test["Cabin"][i] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

## Sex 0 or 1 and Embarked Drop
### male to 0
### female to 1

In [ ]:
df_train = df_train.drop("Embarked",axis=1)
df_test = df_test.drop("Embarked",axis=1)
df_train = df_train.drop("Ticket",axis=1)
df_test = df_test.drop("Ticket",axis=1)

In [ ]:
for i in range(len(df_train["Sex"])):
    if df_train["Sex"][i] == "male":
        df_train["Sex"][i] = 0
    else:
        df_train["Sex"][i] = 1
for i in range(len(df_test["Sex"])):
    if df_test["Sex"][i] == "male":
        df_test["Sex"][i] = 0
    else:
        df_test["Sex"][i] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
y_train = df_train["Survived"]
X_train = df_train.drop("Survived",axis=1)

In [ ]:
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
X_train

     PassengerId  Pclass Sex   Age  SibSp  Parch     Fare Cabin
0              1       3   0  22.0      1      0   7.2500     0
1              2       1   1  38.0      1      0  71.2833     1
2              3       3   1  26.0      0      0   7.9250     0
3              4       1   1  35.0      1      0  53.1000     1
4              5       3   0  35.0      0      0   8.0500     0
..           ...     ...  ..   ...    ...    ...      ...   ...
886          887       2   0  27.0      0      0  13.0000     0
887          888       1   1  19.0      0      0  30.0000     1
888          889       3   1   NaN      1      2  23.4500     0
889          890       1   0  26.0      0      0  30.0000     1
890          891       3   0  32.0      0      0   7.7500     0

[891 rows x 8 columns]

In [ ]:
X_test = df_test
X_test

     PassengerId  Pclass Sex   Age  SibSp  Parch      Fare Cabin
0            892       3   0  34.5      0      0    7.8292     0
1            893       3   1  47.0      1      0    7.0000     0
2            894       2   0  62.0      0      0    9.6875     0
3            895       3   0  27.0      0      0    8.6625     0
4            896       3   1  22.0      1      1   12.2875     0
..           ...     ...  ..   ...    ...    ...       ...   ...
413         1305       3   0   NaN      0      0    8.0500     0
414         1306       1   1  39.0      0      0  108.9000     1
415         1307       3   0  38.5      0      0    7.2500     0
416         1308       3   0   NaN      0      0    8.0500     0
417         1309       3   0   NaN      1      1   22.3583     0

[418 rows x 8 columns]

In [ ]:
dfage = X_train["Age"]

In [ ]:
dfage = dfage.append(X_test["Age"])

In [ ]:
dfage.median()

28.0

In [ ]:
X_train["Age"] = X_train["Age"].fillna(28)
X_test["Age"] = X_test["Age"].fillna(28)

In [ ]:
X_test

     PassengerId  Pclass Sex   Age  SibSp  Parch      Fare Cabin
0            892       3   0  34.5      0      0    7.8292     0
1            893       3   1  47.0      1      0    7.0000     0
2            894       2   0  62.0      0      0    9.6875     0
3            895       3   0  27.0      0      0    8.6625     0
4            896       3   1  22.0      1      1   12.2875     0
..           ...     ...  ..   ...    ...    ...       ...   ...
413         1305       3   0  28.0      0      0    8.0500     0
414         1306       1   1  39.0      0      0  108.9000     1
415         1307       3   0  38.5      0      0    7.2500     0
416         1308       3   0  28.0      0      0    8.0500     0
417         1309       3   0  28.0      1      1   22.3583     0

[418 rows x 8 columns]

In [ ]:
dffare = X_train["Fare"]
dffare = dffare.append(X_test["Fare"])
dffare.median()

14.4542

In [ ]:
X_train["Fare"] = X_train["Fare"].fillna(14.4542)
X_test["Fare"] = X_test["Fare"].fillna(14.4542)

# Classification through SVM

1.   개념: 서포트 벡터 머신(이하 SVM)은 결정 경계(Decision Boundary), 즉 분류를 위한 기준 선을 정의하는 모델이다. 그래서 분류되지 않은 새로운 점이 나타나면 경계의 어느 쪽에 속하는지 확인해서 분류 과제를 수행할 수 있게 된다.

2.   단어 설명: 마진(Margin)은 결정 경계와 서포트 벡터 사이의 거리를 의미한다.

http://hleecaster.com/ml-svm-concept/

In [ ]:
from sklearn.svm import SVC
import matplotlib.pyplot as plt

In [ ]:
svm = SVC(kernel = 'linear',random_state=0)
svm.fit(X_train, y_train)
y_pred = svm.predict(X_test)

In [ ]:
count = 0
for i in y_pred:
    if i == 0:
        count +=1
        
print(count)

In [ ]:
data1 = pd.DataFrame(X_test["PassengerId"])
data2 = pd.DataFrame(y_pred)
data=pd.concat([data1,data2], axis=1)

In [ ]:
data

In [ ]:
data.to_excel(excel_writer='sample.xlsx')